.ListView {
    margin-left: 25%;
    margin-right: 25%;
    
}
.ListView:nth-child(2){
    background-color: lightgray;
}
.workEntry {
    outline-color: black;
    outline-style: solid;
    
    background-color: whitesmoke;
    
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 100px;
    overflow: hidden;
    margin: 10px;
    text-decoration: none;
}
.workEntry > img {    
    float: left;
    margin-left: 10px;
    text-decoration: none;
    
}
.workInformation {
    
    margin-left: 10px;
    text-decoration: none;
    
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: violet;
}

