.pageNavigation {
    
    
    align-self: center;
    font-size: 40px;

    

    text-align: center;

}
.pageNavigation > a{
    
}
.pageNavigation > p{
    display: inline;
}

.invalid {
    color: lightgrey;
}

.pageDisplay{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    
}
.page{
    
    width: 100%;
    
}

.nextPage{
    
    display: inline-block;
    position: absolute;
    
    width: 40%;
    height:100%;
    right: 0%;
    
    
}
.previousPage{
    display: inline-block;
    position: absolute;
    
    width: 40%;
    height:100%;
    left: 0%;
}